USE [QLKS]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [nvarchar](10) NOT NULL,
	[TENBP] [nvarchar](30) NULL,
	[MANQL] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDP]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDP](
	[MADP] [nvarchar](10) NULL,
	[MAP] [nvarchar](10) NULL,
	[TINHTRANG] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDV]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDV](
	[MADV] [nvarchar](10) NULL,
	[MAP] [nvarchar](10) NULL,
	[MAKH] [nvarchar](10) NULL,
	[MANV] [nvarchar](10) NULL,
	[NGAY] [datetime] NULL,
	[SOLUONG] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[MADP] [nvarchar](10) NOT NULL,
	[NGAYNHAN] [datetime] NULL,
	[NGAYTRA] [datetime] NULL,
	[TENKHACH] [nvarchar](30) NULL,
	[SLP] [int] NULL,
	[SDT] [nvarchar](30) NULL,
	[THONGTINDP] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nvarchar](10) NOT NULL,
	[TENDV] [nvarchar](30) NULL,
	[MALOAIDV] [nvarchar](10) NULL,
	[DGDV] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](20) NOT NULL,
	[MANV] [nvarchar](10) NULL,
	[MAKH] [nvarchar](10) NULL,
	[MAP] [nvarchar](10) NULL,
	[NGAYHD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[QUOCTICH] [nvarchar](30) NULL,
	[CMND] [nvarchar](30) NULL,
	[PASSPORT] [nvarchar](30) NULL,
	[SDT] [nvarchar](20) NULL,
	[GIOITINH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEUPHONG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEUPHONG](
	[MAKP] [nvarchar](10) NOT NULL,
	[TENKP] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDV]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDV](
	[MALOAIDV] [nvarchar](10) NOT NULL,
	[TENLOAIDV] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALP] [nvarchar](10) NOT NULL,
	[TENLP] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIQL]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIQL](
	[MANQL] [nvarchar](10) NOT NULL,
	[TENNQL] [nvarchar](30) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](20) NULL,
	[DIACHI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[MABP] [nvarchar](10) NULL,
	[MANQL] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](20) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[HINHANH] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUEPHONG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUEPHONG](
	[SOPHIEUTP] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](10) NULL,
	[MAKH] [nvarchar](10) NULL,
	[MAP] [nvarchar](10) NULL,
	[NGAYTHUE] [datetime] NULL,
	[NGAYTRA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAP] [nvarchar](10) NOT NULL,
	[TENP] [nvarchar](30) NULL,
	[MAKP] [nvarchar](10) NULL,
	[MALP] [nvarchar](10) NULL,
	[THONGTINP] [nvarchar](max) NULL,
	[DONGIAP] [numeric](18, 0) NULL,
	[TINHTRANGP] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TKNGUOIDUNG]    Script Date: 6/4/2021 11:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKNGUOIDUNG](
	[TENTK] [nvarchar](30) NOT NULL,
	[MATKHAU] [nvarchar](max) NULL,
	[QUYEN] [nvarchar](20) NULL,
	[MANV] [nvarchar](10) NULL,
 CONSTRAINT [PK__TKNGUOID__A58DF1B9F1E52DF2] PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MANQL]) VALUES (N'KT', N'Kế toán', NULL)
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MANQL]) VALUES (N'LT', N'Lễ tân', NULL)
GO
INSERT [dbo].[CTDP] ([MADP], [MAP], [TINHTRANG]) VALUES (N'DP0001', N'101', N'Đã nhận phòng')
INSERT [dbo].[CTDP] ([MADP], [MAP], [TINHTRANG]) VALUES (N'DP0002', N'102', N'Hủy đặt phòng')
INSERT [dbo].[CTDP] ([MADP], [MAP], [TINHTRANG]) VALUES (N'DP0005', N'401', N'Đã nhận phòng')
GO
SET IDENTITY_INSERT [dbo].[CTDV] ON 

INSERT [dbo].[CTDV] ([MADV], [MAP], [MAKH], [MANV], [NGAY], [SOLUONG], [id]) VALUES (N'DV3', N'102', N'KH0001', N'NV01', CAST(N'2021-05-11T00:00:00.000' AS DateTime), 1, 52)
INSERT [dbo].[CTDV] ([MADV], [MAP], [MAKH], [MANV], [NGAY], [SOLUONG], [id]) VALUES (N'DV3', N'102', N'KH0005', N'NV01', CAST(N'2021-05-12T00:00:00.000' AS DateTime), 1, 53)
INSERT [dbo].[CTDV] ([MADV], [MAP], [MAKH], [MANV], [NGAY], [SOLUONG], [id]) VALUES (N'LH2', N'102', N'KH0002', N'NV01', CAST(N'2021-05-03T00:00:00.000' AS DateTime), 2, 54)
SET IDENTITY_INSERT [dbo].[CTDV] OFF
GO
INSERT [dbo].[DATPHONG] ([MADP], [NGAYNHAN], [NGAYTRA], [TENKHACH], [SLP], [SDT], [THONGTINDP]) VALUES (N'DP0001', CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-05-12T00:00:00.000' AS DateTime), N'long', 1, N'0828568959', N'ok')
INSERT [dbo].[DATPHONG] ([MADP], [NGAYNHAN], [NGAYTRA], [TENKHACH], [SLP], [SDT], [THONGTINDP]) VALUES (N'DP0002', CAST(N'2021-05-11T00:00:00.000' AS DateTime), CAST(N'2021-05-14T00:00:00.000' AS DateTime), N'an', 1, N'0828568945', N'ok')
INSERT [dbo].[DATPHONG] ([MADP], [NGAYNHAN], [NGAYTRA], [TENKHACH], [SLP], [SDT], [THONGTINDP]) VALUES (N'DP0003', CAST(N'2021-05-12T00:00:00.000' AS DateTime), CAST(N'2021-05-15T00:00:00.000' AS DateTime), N'hai', 1, N'0828568946', N'ok')
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAIDV], [DGDV]) VALUES (N'DV1', N'Tiger', N'LDV1', CAST(14999 AS Numeric(18, 0)))
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAIDV], [DGDV]) VALUES (N'DV2', N'Larue', N'LDV1', CAST(10000 AS Numeric(18, 0)))
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAIDV], [DGDV]) VALUES (N'DV3', N'Sting', N'LDV2', CAST(8000 AS Numeric(18, 0)))
GO
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [MAP], [NGAYHD]) VALUES (N'HD4122021_182517', N'NV01', N'KH0004', N'101', CAST(N'2021-05-10' AS Date))
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [MAP], [NGAYHD]) VALUES (N'HD4122021_182752', N'NV01', N'KH0005', N'102', CAST(N'2021-05-10' AS Date))
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [MAP], [NGAYHD]) VALUES (N'HD4252021_125045', N'NV01', N'KH0001', N'201', CAST(N'2021-05-10' AS Date))
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [QUOCTICH], [CMND], [PASSPORT], [SDT], [GIOITINH]) VALUES (N'KH0001', N'long', N'usa', N'234', N'', N'01234', N'Male      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [QUOCTICH], [CMND], [PASSPORT], [SDT], [GIOITINH]) VALUES (N'KH0002', N'nhat', N'vn', N'111', N'', N'01456', N'Male      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [QUOCTICH], [CMND], [PASSPORT], [SDT], [GIOITINH]) VALUES (N'KH0003', N'khanh', N'usa', N'123', N'123', N'01789', N'Male')
GO
INSERT [dbo].[LOAIDV] ([MALOAIDV], [TENLOAIDV]) VALUES (N'LDV1', N'Bia')
INSERT [dbo].[LOAIDV] ([MALOAIDV], [TENLOAIDV]) VALUES (N'LDV2', N'Nuoc Ngot')
INSERT [dbo].[LOAIDV] ([MALOAIDV], [TENLOAIDV]) VALUES (N'LDV3', N'Giat Ui')
GO
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP]) VALUES (N'LP01', N'Family')
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP]) VALUES (N'LP02', N'Standard')
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP]) VALUES (N'LP03', N'Superior')
GO
INSERT [dbo].[NGUOIQL] ([MANQL], [TENNQL], [NGAYSINH], [SDT], [DIACHI]) VALUES (N'QL01', N'David Hoan', NULL, NULL, NULL)
INSERT [dbo].[NGUOIQL] ([MANQL], [TENNQL], [NGAYSINH], [SDT], [DIACHI]) VALUES (N'QL02', N'Viet Zik', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHUEPHONG] ON 

INSERT [dbo].[PHIEUTHUEPHONG] ([SOPHIEUTP], [MANV], [MAKH], [MAP], [NGAYTHUE], [NGAYTRA]) VALUES (231, N'NV01', N'KH0001', N'102', CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-05-12T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUTHUEPHONG] ([SOPHIEUTP], [MANV], [MAKH], [MAP], [NGAYTHUE], [NGAYTRA]) VALUES (232, N'NV01', N'KH0004', N'101', CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-05-13T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUTHUEPHONG] ([SOPHIEUTP], [MANV], [MAKH], [MAP], [NGAYTHUE], [NGAYTRA]) VALUES (233, N'NV01', N'KH0005', N'102', CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-05-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PHIEUTHUEPHONG] OFF
GO
INSERT [dbo].[PHONG] ([MAP], [TENP], [MAKP], [MALP], [THONGTINP], [DONGIAP], [TINHTRANGP]) VALUES (N'101', N'101', NULL, N'LP01', NULL, CAST(100000 AS Numeric(18, 0)), N'0')
INSERT [dbo].[PHONG] ([MAP], [TENP], [MAKP], [MALP], [THONGTINP], [DONGIAP], [TINHTRANGP]) VALUES (N'102', N'102', NULL, N'LP01', NULL, CAST(200000 AS Numeric(18, 0)), N'Phòng trống')
INSERT [dbo].[PHONG] ([MAP], [TENP], [MAKP], [MALP], [THONGTINP], [DONGIAP], [TINHTRANGP]) VALUES (N'103', N'103', NULL, N'LP01', NULL, CAST(300000 AS Numeric(18, 0)), N'Phòng trống')
GO
INSERT [dbo].[TKNGUOIDUNG] ([TENTK], [MATKHAU], [QUYEN], [MANV]) VALUES (N'admin', N'21232F297A57A5A743894A0E4A801FC3', N'admin', N'QL')
INSERT [dbo].[TKNGUOIDUNG] ([TENTK], [MATKHAU], [QUYEN], [MANV]) VALUES (N'hoan', N'2A2FA4FE2FA737F129EF2D127B861B7E', N'admin', N'QL02')
INSERT [dbo].[TKNGUOIDUNG] ([TENTK], [MATKHAU], [QUYEN], [MANV]) VALUES (N'hung', N'21232F297A57A5A743894A0E4A801FC3', N'LT', N'NV02')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TKNGUOID__603F51156D36A77E]    Script Date: 6/4/2021 11:02:12 PM ******/
ALTER TABLE [dbo].[TKNGUOIDUNG] ADD UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD FOREIGN KEY([MANQL])
REFERENCES [dbo].[NGUOIQL] ([MANQL])
GO
ALTER TABLE [dbo].[CTDP]  WITH CHECK ADD  CONSTRAINT [fk_madp] FOREIGN KEY([MADP])
REFERENCES [dbo].[DATPHONG] ([MADP])
GO
ALTER TABLE [dbo].[CTDP] CHECK CONSTRAINT [fk_madp]
GO
ALTER TABLE [dbo].[CTDP]  WITH CHECK ADD  CONSTRAINT [fk_map] FOREIGN KEY([MAP])
REFERENCES [dbo].[PHONG] ([MAP])
GO
ALTER TABLE [dbo].[CTDP] CHECK CONSTRAINT [fk_map]
GO
ALTER TABLE [dbo].[CTDV]  WITH CHECK ADD  CONSTRAINT [fk_mdv] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CTDV] CHECK CONSTRAINT [fk_mdv]
GO
ALTER TABLE [dbo].[CTDV]  WITH CHECK ADD  CONSTRAINT [fk_mkh2] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[CTDV] CHECK CONSTRAINT [fk_mkh2]
GO
ALTER TABLE [dbo].[CTDV]  WITH CHECK ADD  CONSTRAINT [fk_mnv2] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CTDV] CHECK CONSTRAINT [fk_mnv2]
GO
ALTER TABLE [dbo].[CTDV]  WITH CHECK ADD  CONSTRAINT [fk_mp3] FOREIGN KEY([MAP])
REFERENCES [dbo].[PHONG] ([MAP])
GO
ALTER TABLE [dbo].[CTDV] CHECK CONSTRAINT [fk_mp3]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [fk_mldv] FOREIGN KEY([MALOAIDV])
REFERENCES [dbo].[LOAIDV] ([MALOAIDV])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [fk_mldv]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_mkh3] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_mkh3]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_mnv3] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_mnv3]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_mp4] FOREIGN KEY([MAP])
REFERENCES [dbo].[PHONG] ([MAP])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_mp4]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_mbp] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_mbp]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_mql] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NGUOIQL] ([MANQL])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_mql]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [fk_mkh] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [fk_mkh]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [fk_mnv] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [fk_mnv]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [fk_mp] FOREIGN KEY([MAP])
REFERENCES [dbo].[PHONG] ([MAP])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [fk_mp]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [fk_mkp] FOREIGN KEY([MAKP])
REFERENCES [dbo].[KIEUPHONG] ([MAKP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [fk_mkp]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [fk_mlp] FOREIGN KEY([MALP])
REFERENCES [dbo].[LOAIPHONG] ([MALP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [fk_mlp]
GO
ALTER TABLE [dbo].[TKNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [fk_manv4] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TKNGUOIDUNG] CHECK CONSTRAINT [fk_manv4]
GO
